# docker-compose.yaml

version: '3.8'
services: 


  main:
    image: organizr/organizr:latest
    volumes:
      - /etc/localtime:/etc/localtime
      - /etc/ssl/certs/:/etc/ssl/certs/
      - {{ directories_data }}:/config
    environment:
      - PUID=1001
      - PGID=1001
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.services.{{ proxy_router_main }}.loadbalancer.server.port=80
        - traefik.http.routers.{{ proxy_router_main }}.tls.certresolver=step-ca
        - traefik.http.routers.{{ proxy_router_main }}.rule=Host(`{{ proxy_domains | join('`,`') }}`)

    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external:
      name: {{ docker_network }}
